.navbar {
    display: flex;
    margin-left: 50%;
    width: 50%;
    gap: 2vw;
    font-size: 0.75rem;
    list-style: none;
    color: rgb(154, 150, 150); 
}
.logo{
    position: absolute;
    top: 7%;
    width: 16.5vw;
    left: 16.5%;
    
}
.logoutbtn{
    background: transparent;
    border: transparent;
    font-size: 0.75rem;
    color: rgb(154, 150, 150);
}
.slider-cont{
    position: absolute;
    top: 20%;
    width: 100vw;
    height: 50vh;
    background: lightblue;
    border-top: black 2px solid;
    overflow: hidden;
}
.slider{
    position: absolute;
    width: 1100vw;
    height: 100%;
    display: flex;
}
.slider div{
    width: 100vw;
    height: 100%;
   background-size: cover;
    
}
.banner{
    position: absolute;
    z-index: 100000000;
    left: 30%;
    top: 10%;
    line-height: 5vh;
}
.header1{
    font-size: 3rem;
    font-weight: 100;
}
.header2{
    color: #666666;
}
.banner2 {
    position: absolute;
    z-index: 100000000;
    right: -43.75%;
    top: 1%;
    line-height: 6.5vh;

  }
.header3{
    font-size: 3rem;
    font-weight: 400;
}
.header4{
    color: #666666;
}
.banner3 {
    position: absolute;
    z-index: 100000000;
    right: -143.75%;
    top: 1%;
    line-height: 6.5vh;

  }
.header5{
    font-size: 3rem;
    font-weight: 400;
}
.header6{
    font-weight: bold;
    color: #666666;
}
.banner4 {
    position: absolute;
    z-index: 100000000;
    right: -244.75%;
    top: 1%;
    line-height: 6.5vh;
    color: white;

  }
.header7{
    font-size: 3rem;
    font-weight: 400;
}
.header8{
    font-weight: bold;
    color: white;
}
.banner5 {
    position: absolute;
    z-index: 100000000;
    right: -344.75%;
    top: 1%;
    line-height: 6.5vh;
    color: white;

  }
.header9{
    font-size: 3rem;
    font-weight: 400;
}
.header10{
    font-weight: bold;
    color: white;
}
.banner6 {
    position: absolute;
    z-index: 100000000;
    right: -443.75%;
    top: 1%;
    line-height: 6.5vh;

  }
.header11{
    font-size: 3rem;
    font-weight: 400;
}
.header12{
    font-weight: bold;
    color: #666666;
}
.banner7 {
    position: absolute;
    z-index: 100000000;
    right: -542%;
    top: 1%;
    line-height: 6.5vh;

  }
.header13{
    font-size: 3rem;
    font-weight: 400;
}
.header14{
    font-weight: bold;
    color: #666666;
}
.banner8 {
    position: absolute;
    z-index: 100000000;
    right: -646.5%;
    top: 1%;
    line-height: 6.5vh;

  }
.header15{
    font-size: 3rem;
    font-weight: 400;
}
.header16{
    font-weight: bold;
    color: #666666;
}
.banner9 {
    position: absolute;
    z-index: 100000000;
    right: -743%;
    top: 1%;
    line-height: 6.5vh;

  }
.header17{
    font-size: 3rem;
    font-weight: 400;
}
.header18{
    font-weight: bold;
    color: #666666;
}
.banner10 {
    position: absolute;
    z-index: 100000000;
    right: -841%;
    top: 1%;
    line-height: 6.5vh;

  }
.header19{
    font-size: 3rem;
    font-weight: 400;
}
.header20{
    font-weight: bold;
    color: #666666;
}
.banner11 {
    position: absolute;
    z-index: 100000000;
    right: -944.75%;
    top: 1%;
    line-height: 6.5vh;
    color: white;

  }
.header21{
    font-size: 3rem;
    font-weight: 400;
}
.header22{
    font-weight: bold;
    color: white;
}


.leftbtn{
    position: fixed;
    z-index: 10000;
    left: 10%;
    width: 40px;
    height: 40px;
    background: url(https://static.oliveyoung.co.kr/pc-static-root/image/comm/ico_arrow40x40_2.png) no-repeat;
    text-indent: -9999px;
    rotate: 180deg;
    border: transparent;
    top: 55%;
    left: 40%;
}
.pagenum{
    position: fixed;
    top: 56%;
    left: 35.2%;
    z-index: 10000;
    color: #666666;
    word-spacing: -1px;
    font-size: 1.05rem;
    letter-spacing: 0.15rem;
    line-height: 20p
}
.rightbtn{
    position: fixed;
    top: 55%;
    left: 30%;
    z-index: 10000;
    width: 40px;
    height: 40px;
    background: url(https://static.oliveyoung.co.kr/pc-static-root/image/comm/ico_arrow40x40_2.png) no-repeat;
    text-indent: -9999px;
    border: transparent;
}

.search-box{
    position: absolute;
    top: 7%;
    left: 40%;
    border-radius: 20vw;
    width: 22.5vw;
    height: 4vh;
    background: #ffffff;    
    border: 2px solid #9bce26;
}
.search{
    position: absolute;
    width: 97%;
    left: 1%;
    height: 95%;
    border-radius: 20vw;
    border: #ffffff;
}
.enter{
    position: absolute;
    top: 10%;
    left: 90%;
    background: url(https://static.oliveyoung.co.kr/pc-static-root/image/comm/ico_search21x212.png) 50% 50% no-repeat;
    width: 1.5vw;
    height: 3vh;
    border: #ffffff;
}
.navbar a{
    color: rgb(154, 150, 150);   
    text-decoration: none;
}
.login-font{
    display: flex;  
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 3rem;

}
.login-container span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    margin-top: -2%;
}
.login-container{
    position: absolute;
    top: 25%;
    width: 100vw;

}
.loginid{
    position: absolute;
    left: 40%;
    top: 130%;
    width: 20vw;
}
.loginpw{
    position: absolute;
    left: 40%;
    top: 145%;
    width: 20vw;
}
.btngreen{
    position: absolute;
    background-color: #9bce26;
    width: 20.5vw;
    color: white;
    height: 5vh;
    left: 40%;
    top: 180%;
    border-color: #9bce26;
}
.username{
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
}
.register-info{
    position: absolute;
    font-size: 1.5rem;
    top: 20%;
    left: 7%;
}
.info-table{
    position: absolute;
    left: 7%;
    top: 30%;
    line-height: 3.5vh;
}
.info-table li{
    margin-top: 5%;
}
.h{
    color: blue;
}
.registerid{
    position: absolute;
    left: 55%;
    top: 25%;
    width: 30vw;
    height: 3vh;
}
.registerpw{
    position: absolute;
    left: 55%;
    top: 32.5%;
    width: 30vw;
    height: 3vh;
}
.registername{
    position: absolute;
    left: 55%;
    top: 40%;
    width: 30vw;
    height: 3vh;
}
.registeremail{
    position: absolute;
    left: 55%;
    top: 47.5%;
    width: 30vw;
    height: 3vh;
}
.registerbirth{
    position: absolute;
    left: 55%;
    top: 55%;
    width: 30vw;
    height: 3vh;
}
.registeraddress{
    position: absolute;
    left: 55%;
    top: 62.5%;
    width: 30vw;
    height: 3vh;
}
.registerphone{
    position: absolute;
    left: 55%;
    top: 70%;
    width: 30vw;
    height: 3vh;
}
.btnblack{
    position: absolute;
    left: 55%;
    top: 77%;
    width: 30vw;
    font-size: 1.15rem;
    background: #333333;
    height: 6vh;
    color: white
}
.register-font{
    display: flex;  
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 3rem;
    margin-top: -10%;

}
.register-container{
    position: absolute;
    top: 25%;
    left: 10%;
    background: #f8f8f8;
    width: 80vw;
    height: 75vh;
    border-top: #000000 solid 1px;

}
.register-container span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    margin-top: -2%;
}
.mypage-container{
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 50vh;
    border-top: #000000 1px solid;
}
.profile-container{
    position: absolute;
    top: 12.5%;
    left: 15%;
    width: 20vw;
    height: 40vh;
    border:#dedcdc 1px solid;
}
.profile-name{
    position: absolute;
    top: 20%;
    left: 18%;
    font-size: 1.75rem;
    align-items: center;
    font-weight: bolder;
}
.type1 {
    position: absolute;
    top: 40%;
    left: 20%;
    color: #929191;
    white-space: nowrap;
  }
  
  .type2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: #929191;
    white-space: nowrap;
  }
  
  .type3 {
    position: absolute;
    top: 40%;
    right: 17.5%;
    color: #929191;
    white-space: nowrap;
  }
  
.update-button{
    position: absolute;
    top: 105%;
    width: 20vw;
    height: 5vh;
    background: white;
    color: #929191;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    border:#dedcdc 1px solid;
}
.delete-button{
    position: absolute;
    top: 120%;
    width: 20vw;
    height: 5vh;
    background: white;
    color: #929191;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    border:#dedcdc 1px solid; 
}
.update-profile-container{
    position: absolute;
    top: 20%;
    width: 100vw;
    height: 50vh;
    border-top: #000000 1px solid; 
}
.survey-header, .survey-subheader{
    display: flex;
    justify-content: center;
}
.survey-subheader{
    color: #757d86;
}
.survey-radio1{
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50vw;
    height: 7.5vh;
}
.survey-radio1 span{
    position: absolute;
    top: 40%;
}
#skinTypeList{
    list-style-type: none;
    display: flex;
    gap: 1.75vw;
    margin-top: 3%;
    margin-left: 2vw;
}
.survey-radio2{
    position: absolute;
    top: 50%;
    left: 25%;
   
    width: 50vw;
    height: 7.5vh;
}
.survey-radio2 span{
    position: absolute;
    top: 40%;
}
#skinToneList{
    list-style-type: none;
    display: flex;
    gap: 1.75vw;
    margin-top: 3%;
    margin-left: 2vw;
}
.survey-radio3{
    position: absolute;
    top: 60%;
    left: 25%;
   
    width: 70vw;
    font-size: 0.9rem;    
    height: 10vh;
}
.survey-radio3 span{
    position: absolute;
    top: 40%;
}
#skinTrobleList{
    list-style-type: none;
    display: flex;
    gap: 1vw;
    margin-top: 3%;
    margin-left: 2vw;
}
.subgreen{
    position: absolute;
    background-color: #9bce26;
    width: 20.5vw;
    color: white;
    height: 5vh;
    left: 40%;
    top: 70%;
    border-color: #9bce26;
}

.container {
    margin-top: 10%;
    overflow-y: auto;
    height: 100vh;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .product-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .search1 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
    color: #777777;
  }
  
  .search2 {
    font-size: 16px;
  }
  
  .search3 {
    font-size: 16px;
    margin-top: 8px;
  }
  
  .search4 {
    font-size: 14px;
    margin-top: 8px;
    color: #777777;

    text-decoration: line-through;
  }
  
  .search5 {
    font-size: 14px;
    margin-top: 8px;
    font-size: 1.5rem;
    color: #e02020;
  }
  
  .purchase-button {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .purchase-button:hover {
    background-color: #45a049;
  }
  
  .purchase-button:active {
    background-color: #3e8e41;
  }