@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
*{
   overflow-x: hidden;
}
.navbar {
    display: flex;
    margin-left: 50%;
    width: 50%;
    gap: 2vw;
    font-size: 0.75rem;
    list-style: none;
    color: rgb(154, 150, 150); 
}
.logo{
    position: absolute;
    top: 7%;
    width: 16.5vw;
    left: 16.5%;
    
}
.menu-bar{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15%;
    gap: 3.2vw;
    width: 100vw;
    height: 5vh;
    border-top: 1px rgb(213, 211, 211) solid;
    overflow: hidden;
    
}
.mymenu_area{
    position: absolute;
    top: 6%;
    left: 62.5%;
    height: 3vh;
    width: 20vw;
    padding: absolute;
    display: flex;
    gap: 17px;
    font-size: 0.87rem;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 0.001rem;
    color: #000000;
}
.delviery-img{
    padding: 40px 22px 10px 0;
    margin-left: 3.5vw;
    margin-top: -2.25vh;
    width: 0.00000000001vw;
    background: url(https://static.oliveyoung.co.kr/pc-static-root/image/comm/ico_delivery_flag.png) ;
    background-size: contain;
    background-repeat: no-repeat;
    border-right: 1px rgb(213, 211, 211) solid ;
    
}
.store-img{
    background: url("https://static.oliveyoung.co.kr/pc-static-root/image/comm/ico_arrow11x72.png") no-repeat;
    padding: 40px 22px 10px 0;
    margin-left: 5.25vw;
    margin-top: -1.25vh;
}
.recent-img{
    background: url("https://static.oliveyoung.co.kr/pc-static-root/image/comm/ico_arrow11x72.png") no-repeat;
    padding: 40px 22px 10px 0;
    margin-left: 5vw;
    margin-top: -1.25vh;
}
.menu-bar li{
    list-style: none;
    font-size: 1.05rem;
    font-weight: bold;
    color: #000000;
    
}
.menu-button{

    border: 1px rgb(213, 211, 211) solid;
    width: 11.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    color: #000000;
    overflow: hidden;
}
.menu-button a{   
     content: "";
    display: inline-block;
    margin: 0 8px 0 0;
    background: url(https://static.oliveyoung.co.kr/pc-static-root/image/comm/ico_menu_off.png) 0 14px no-repeat;
    width: 24px;
    height: 44px;
    vertical-align: middle;
   
}
.main-cate{
    position: absolute;
    left: 16.25%;
    top: 20%;
    width: 11.5vw;
    
    background: rgba(51,51,51,.5);
    height: 50vh;
    z-index: 111111;
    overflow: hidden;
}
.main-cate li{
    list-style: none;
    line-height: 3.25vh;
    font-size: 0.8rem;
    color: #fff;
    font-weight: 700;
    display: flex;
    margin-left: 20%;
}
.li-hover{
    margin-left: -30%;
}
.li-hover:hover{
    background: #000000;
    opacity: 80%;
}
.li-hover-container{
    position: absolute;
    left: 27.75%;
    top: 20.3%;
    background: #fff;
    width: 12vw;
    height: 50vh;
    z-index: 999999999;
    visibility: hidden;
    color: black;
}
.company-style{
    position: absolute;
    font-size: 1.5rem;
    font-weight: bold;
    top: 15%;
    margin-left: 10%;
    font-family: 'Noto Sans KR', sans-serif;

}
.product-style{
    position: absolute;
    top: 27.5%;
    margin-left: 10%;
    
}
.price-style{
    position: absolute;
    top: 40%;
    margin-left: 10%;
    color: #777777;

    text-decoration: line-through;
}
.saledprice-style{
    position: absolute;
    top: 45%;
    margin-left: 10%;
    font-size: 2rem;
    color: red;
    font-weight: bold;
    
}
.img-style{
    position: absolute;
    bottom: 0;
    width: 12vw;
    height: 22.5vh;
}

.awards span{
    padding-left: 16px;
    background: url(https://static.oliveyoung.co.kr/pc-static-root/image/comm/icon_awards_32.png) 0 0/15px no-repeat;
    line-height: 3vh;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 700;

}
.banner-event{
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    top: 60%;
    justify-content: center;
    align-items: center;
    gap: 0.25vw;
}
.banner-event img{
    width: 35vw;
}
.logoutbtn{
    background: transparent;
    border: transparent;
    font-size: 0.75rem;
    color: rgb(154, 150, 150);
}
.slider-cont{
    position: absolute;
    top: 20%;
    width: 100vw;
    height: 50vh;
    background: lightblue;
    border-top: black 2px solid;
    overflow: hidden;
    scroll-behavior: smooth;
}
.slider{
    position: absolute;
    width: 1100vw;
    height: 100%;
    display: flex;
}
.slider div{
    width: 100vw;
    height: 100%;
   background-size: cover;
    
}
.banner{
    position: absolute;
    z-index: 100000000;
    left: 40%;
    top: 10%;
    line-height: 6vh;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.header1{
    font-size: 3rem;
    font-weight: 100;
    color: white;
}
.header2{
    color: white;
}
.banner2 {
    position: absolute;
    z-index: 100000000;
    right: -48.75%;
    top: 1%;
    line-height: 6.5vh;

  }
.header3{
    font-size: 3rem;
    font-weight: 400;
}
.header4{
    color: #666666;
}
.banner3 {
    position: absolute;
    z-index: 100000000;
    right: -143.75%;
    top: 1%;
    line-height: 6.5vh;

  }
.header5{
    font-size: 3rem;
    font-weight: 400;
}
.header6{
    font-weight: bold;
    color: #666666;
}
.banner4 {
    position: absolute;
    z-index: 100000000;
    right: -244.75%;
    top: 1%;
    line-height: 6.5vh;
    color: white;

  }
.header7{
    font-size: 3rem;
    font-weight: 400;
}
.header8{
    font-weight: bold;
    color: white;
}
.banner5 {
    position: absolute;
    z-index: 100000000;
    right: -344.75%;
    top: 1%;
    line-height: 6.5vh;
    color: white;

  }
.header9{
    font-size: 3rem;
    font-weight: 400;
}
.header10{
    font-weight: bold;
    color: white;
}
.banner6 {
    position: absolute;
    z-index: 100000000;
    right: -443.75%;
    top: 1%;
    line-height: 6.5vh;

  }
.header11{
    font-size: 3rem;
    font-weight: 400;
}
.header12{
    font-weight: bold;
    color: #666666;
}
.banner7 {
    position: absolute;
    z-index: 100000000;
    right: -542%;
    top: 1%;
    line-height: 6.5vh;

  }
.header13{
    font-size: 3rem;
    font-weight: 400;
}
.header14{
    font-weight: bold;
    color: #666666;
}
.banner8 {
    position: absolute;
    z-index: 100000000;
    right: -646.5%;
    top: 1%;
    line-height: 6.5vh;

  }
.header15{
    font-size: 3rem;
    font-weight: 400;
}
.header16{
    font-weight: bold;
    color: #666666;
}
.banner9 {
    position: absolute;
    z-index: 100000000;
    right: -743%;
    top: 1%;
    line-height: 6.5vh;

  }
.header17{
    font-size: 3rem;
    font-weight: 400;
}
.header18{
    font-weight: bold;
    color: #666666;
}
.banner10 {
    position: absolute;
    z-index: 100000000;
    right: -841%;
    top: 1%;
    line-height: 6.5vh;

  }
.header19{
    font-size: 3rem;
    font-weight: 400;
}
.header20{
    font-weight: bold;
    color: #666666;
}
.banner11 {
    position: absolute;
    z-index: 100000000;
    right: -944.75%;
    top: 1%;
    line-height: 6.5vh;
    color: white;

  }
.header21{
    font-size: 3rem;
    font-weight: 400;
}
.header22{
    font-weight: bold;
    color: white;
}


.leftbtn{
    position: absolute;
    z-index: 10000;
    left: 10%;
    width: 40px;
    height: 40px;
    background: url(https://static.oliveyoung.co.kr/pc-static-root/image/comm/ico_arrow40x40_2.png) no-repeat;
    text-indent: -9999px;
    rotate: 180deg;
    border: transparent;
    top: 55%;
    left: 40%;
}
.pagenum{
    position: absolute;
    top: 56%;
    left: 35.2%;
    z-index: 10000;
    color: #666666;
    word-spacing: -1px;
    font-size: 1.05rem;
    letter-spacing: 0.15rem;
    line-height: 20p
}
.rightbtn{
    position: absolute;
    top:55%;
    left: 30%;
    z-index: 10000;
    width: 40px;
    height: 40px;
    background: url(https://static.oliveyoung.co.kr/pc-static-root/image/comm/ico_arrow40x40_2.png) no-repeat;
    text-indent: -9999px;
    border: transparent;
}
.simillar-customer{
    position: relative;
    margin-left: 15%;
    margin-top: 50vw;
    width: 35vw;
    font-size: 1.5rem;
    font-weight: bold;
    height: 60vh;
    border-right: 2px rgb(213, 211, 211) solid;
}
.more-container{
    position: absolute;
    top: 7%;
    left: 70%;
    width: 6vw;
    height: 5vw;
}
.more {
    padding-left: 20px; /* 이미지와 텍스트 사이의 간격 조정 */
    margin-left: 20%;
    font-size: 0.95rem;
    color: #AAAAAA;
    font-family: 'Noto Sans KR', sans-serif;
    background: url(https://static.oliveyoung.co.kr/pc-static-root/image/curation/ico_more_5x10.png) center right 0/5px ;
    background-repeat: no-repeat;
}
.simillar-container{
    position: absolute;
    top: 15%;
    width: 15vw;
    height: 40vh;
}
.simillar-container2{
    position: absolute;
    left: 50%;
    top: 15%;
    width: 15vw;
    height: 40vh;
}
.productname-style{
    position: absolute;
    top: 70%;
    font-size: 0.95rem;
    font-weight: 300;
}
.simillarprice-style{
    position: absolute;
    top: 83.5%;
    font-size: 1rem;
    color: #777777;

    text-decoration: line-through;
}
.bag{
    position: absolute;
    top: 70%;
    left: 40%;
    width: 10vw;
    height: 5vh;
    background: url("https://static.oliveyoung.co.kr/pc-static-root/image/comm/icon_bag.png") no-repeat;
}
.saleprice-style{
    position: absolute;
    left: 40%;
    top: 82%;
    color: red;
}
.simillarimg-style{
    position: absolute;
    top: 0;
    width: 100%;
    height: 27.5vh;
    object-fit: cover;
}

.search-box{
    position: absolute;
    top: 7%;
    left: 40%;
    border-radius: 20vw;
    width: 22.5vw;
    height: 4vh;
    background: #ffffff;    
    border: 2px solid #9bce26;
}
.search{
    position: absolute;
    width: 97%;
    left: 1%;
    height: 95%;
    border-radius: 20vw;
    border: #ffffff;
}
.enter{
    position: absolute;
    top: 10%;
    left: 90%;
    background: url(https://static.oliveyoung.co.kr/pc-static-root/image/comm/ico_search21x212.png) 50% 50% no-repeat;
    width: 1.5vw;
    height: 3vh;
    border: #ffffff;
}
.navbar a{
    color: rgb(154, 150, 150);   
    text-decoration: none;
}
.login-font{
    display: flex;  
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 3rem;

}
.login-container span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    margin-top: -2%;
}
.login-container{
    position: absolute;
    top: 25%;
    width: 100vw;
    overflow: visible;

}
.loginid{
    position: absolute;
    left: 40%;
    top: 130%;
    width: 20vw;

}
.loginpw{
    position: absolute;
    left: 40%;
    top: 145%;
    width: 20vw;
}
.btngreen{
    position: absolute;
    background-color: #9bce26;
    width: 20.5vw;
    color: white;
    height: 5vh;
    left: 40%;
    top: 180%;
    border-color: #9bce26;
}
.username{
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
}
.register-info{
    position: absolute;
    font-size: 1.5rem;
    top: 20%;
    left: 7%;
    overflow: visible;
}
.info-table{
    position: absolute;
    left: 7%;
    top: 30%;
    line-height: 3.5vh;
}
.info-table li{
    margin-top: 5%;
}
.h{
    color: blue;
}
.registerid{
    position: absolute;
    left: 55%;
    top: 25%;
    width: 30vw;
    height: 3vh;
}
.registerpw{
    position: absolute;
    left: 55%;
    top: 32.5%;
    width: 30vw;
    height: 3vh;
}
.registername{
    position: absolute;
    left: 55%;
    top: 40%;
    width: 30vw;
    height: 3vh;
}
.registeremail{
    position: absolute;
    left: 55%;
    top: 47.5%;
    width: 30vw;
    height: 3vh;
}
.registerbirth{
    position: absolute;
    left: 55%;
    top: 55%;
    width: 30vw;
    height: 3vh;
}
.registeraddress{
    position: absolute;
    left: 55%;
    top: 62.5%;
    width: 30vw;
    height: 3vh;
}
.registerphone{
    position: absolute;
    left: 55%;
    top: 70%;
    width: 30vw;
    height: 3vh;
}
.btnblack{
    position: absolute;
    left: 55%;
    top: 77%;
    width: 30vw;
    font-size: 1.15rem;
    background: #333333;
    height: 6vh;
    color: white
}
.register-font{
    display: flex;  
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 3rem;
    margin-top: -10%;

}
.register-container{
    position: absolute;
    top: 25%;
    left: 10%;
    background: #f8f8f8;
    width: 80vw;
    height: 75vh;
    border-top: #000000 solid 1px;
    overflow: visible;

}
.register-container span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    margin-top: -2%;
}
.mypage-container{
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 50vh;
    border-top: #000000 1px solid;
    overflow: visible;
}
.profile-container{
    position: absolute;
    top: 12.5%;
    left: 15%;
    width: 20vw;
    height: 40vh;
    border:#dedcdc 1px solid;
    overflow: visible;
}
.profile-name{
    position: absolute;
    top: 20%;
    left: 18%;
    font-size: 1.75rem;
    align-items: center;
    font-weight: bolder;
}
.type1 {
    position: absolute;
    top: 40%;
    left: 20%;
    color: #929191;
    white-space: nowrap;
  }
  
  .type2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: #929191;
    white-space: nowrap;
  }
  
  .type3 {
    position: absolute;
    top: 40%;
    right: 17.5%;
    color: #929191;
    white-space: nowrap;
  }
  
.update-button{
    position: absolute;
    top: 105%;
    width: 20vw;
    height: 5vh;
    background: white;
    color: #929191;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    border:#dedcdc 1px solid;
}
.delete-button{
    position: absolute;
    top: 120%;
    width: 20vw;
    height: 5vh;
    background: white;
    color: #929191;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    border:#dedcdc 1px solid; 
}
.update-profile-container{
    position: absolute;
    top: 20%;
    width: 100vw;
    height: 50vh;
    border-top: #000000 1px solid; 
}
.survey-header, .survey-subheader{
    display: flex;
    justify-content: center;
}
.survey-subheader{
    color: #757d86;
}
.survey-radio1{
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50vw;
    height: 7.5vh;
}
.survey-radio1 span{
    position: absolute;
    top: 40%;
}
#skinTypeList{
    list-style-type: none;
    display: flex;
    gap: 1.75vw;
    margin-top: 3%;
    margin-left: 2vw;
}
.survey-radio2{
    position: absolute;
    top: 50%;
    left: 25%;
   
    width: 50vw;
    height: 7.5vh;
}
.survey-radio2 span{
    position: absolute;
    top: 40%;
}
#skinToneList{
    list-style-type: none;
    display: flex;
    gap: 1.75vw;
    margin-top: 3%;
    margin-left: 2vw;
}
.survey-radio3{
    position: absolute;
    top: 60%;
    left: 25%;
   
    width: 70vw;
    font-size: 0.9rem;    
    height: 10vh;
}
.survey-radio3 span{
    position: absolute;
    top: 40%;
}
#skinTrobleList{
    list-style-type: none;
    display: flex;
    gap: 1vw;
    margin-top: 3%;
    margin-left: 2vw;
}
.subgreen{
    position: absolute;
    background-color: #9bce26;
    width: 20.5vw;
    color: white;
    height: 5vh;
    left: 40%;
    top: 70%;
    border-color: #9bce26;
}
.search-container{
    position: absolute;
    top: 20%;
    width: 100vw;
    height: 100vh;
    border-top: #333333 2px solid;
}
.search-nav{
    position: absolute;
    width: 100vw;
    height: 5vh;
    display: flex;
    top: 6%;
}
.search-result{
    margin-left: 16%;
    font-size: 1.3rem;
    font-family: 'Noto Sans KR', sans-serif;;
}
.count-Number{
    color: red;
    font-weight: bold;
}
.check_today{
    position: absolute;
    top: 15%;
    left: 60.25vw;
    font-family: 'Noto Sans KR', sans-serif;
}
.search-box2{
    position: absolute;
    left: 72.5%;
    top: 15%;
    border-radius: 20vw;
    width: 12.5vw;
    height: 3vh;
    background: #ffffff;    
    border: 1px solid #ccc;
}
.enter2{
    position: absolute;
    top: 7%;
    left: 80%;
    background: url(https://static.oliveyoung.co.kr/pc-static-root/image/comm/ico_search19x19.png) center center/14px 14px no-repeat;
    text-indent: -9999px;
    width: 1.5vw;
    height: 3vh;
    border: #ffffff;
}
.select-container{
    position: relative;
    margin-top: 16%;
    margin-left: 16.25%;
    width: 69vw;
    height: 15vh;
    display: flex;
    border-top: #333333 2px solid;
}
.inner{
    position: absolute;
    width: 100%;
    height: 50%;
    border-bottom: #ccc 1px solid;
    overflow: hidden;
}
.inner2{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 49%;
    border-bottom: #ccc 1px solid;
}
.inner-div{
    position: absolute;
    height: 100%;
    width: 15%;
    background: #f4f4f4;
    
}
.inner-div2{
    position: absolute;
    top: 1%;
    height: 99%;
    width: 15%;
    background: #f4f4f4;
}
.inner-div span{
    display: flex;
    margin-left: 10%;
    height: 100%;
    font-weight: bold;
    align-items: center;
}
.list-scrbar{
    position: absolute;
    top: 10%;
    left: 11%;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 99999;
    gap: 100px;
    font-size: 0.85rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    color: rgb(149, 148, 148);
}
.inner-div2 span{
    display: flex;
    margin-left: 10%;
    height: 100%;
    font-weight: bold;
    align-items: center;
}
.priceSearch{
    position: absolute;
    left: 16%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    color: rgb(149, 148, 148);
}
.search-result2{
    position: absolute;
    top: 30vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-family: 'Noto Sans KR', sans-serif;;
}
.product-container{
    position: relative;
    margin-top: 8%;
    margin-left: 16.25%;
    width: 69vw;
    height: 15vh;
    display: flex;
    border-top: 5px solid #e5e5e5;
}
.align_sort {
    display: flex; /* Use flexbox to create a horizontal layout */
    justify-content: flex-start; /* Align items to the left */
    margin-bottom: 10px;
    font-size: 0.9rem;
  }
  .align_sort ul {
    list-style: none;
    display: flex; /* Use flexbox for the list items too */
  }
  .align_sort li {
    margin-right: 10px;
  }
  .align_sort li a {
    text-decoration: none;
    color: #666666;
    padding: 5px 15px;
    border-right: 1px solid #ccc;
    border-radius: 5px;
  }
  .cate_align_box {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 6vh;
    border-bottom: 1px solid #ccc;
    
  }
  .count_sort {
    position: absolute;
    top: 0%;
    left:75%;
    width: 12.5vw;
    height: 100%;
    display: flex; /* Use flexbox to create a horizontal layout */
    justify-content: center; /* Align items to the left */
    margin-bottom: 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc ;
  }
  .tx_view{
    position: absolute;
    top: 31%;
    left: 6%;
  }
  .count_sort ul {
    list-style: none;
    display: flex; /* Use flexbox for the list items too */
  }
  .count_sort li {
    margin-right: 10px;
    cursor: pointer;
  }
.type_sort{
    position: absolute;
    top: 20%;
    left: 94%;
}
.cate_align_box .type_sort>button.btn_thumb.active {
    background-position: 0 0;
}
  .cate_align_box .type_sort>button {
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background: url(https://static.oliveyoung.co.kr/pc-static-root/image/comm/bg_sorting.png) no-repeat ;
}
.cate_align_box .type_sort>button.btn_list {
    margin-left: 10px;
    background-position: -28px 0;
}

.cate_align_box .type_sort>button {
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background: url(https://static.oliveyoung.co.kr/pc-static-root/image/comm/bg_sorting.png) no-repeat ;
}
.grid-container {
    display: grid;
    margin-left: 16.25%;
    width: 69vw;
    height: 350vh;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* Adjust the gap as per your design preference */
    padding-left: 20px; /* Add some padding to the grid container */
  }
  
  /* Style for each grid item */
  .box {
    width: 15vw;
    height: 40vh;
    border-bottom: 1px solid #ccc ;
  }
  
  /* Style for product image */
  .product-image {
    width: 100%;
    height:  27.5vh; /* Adjust the height as needed */
    object-fit: cover;

  }
  .search7{
    color: #777777;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
  }
  .search3{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
  }
  .search4{
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #777777;
    text-decoration: line-through;
  }
  .search5 {
    display: flex;
    justify-content: center;
  }

  