<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>올리브영 온라인몰</title>
</head>
<body>
    <nav class="navbar">
        <span class="username"></span>
        <form method="post" action="logout">
            <a href="/"><li>로그아웃</li></a>
        </form>
        <a href="/mypage"><li>마이페이지</li></a>
        <li>장바구니</li>
        <li>주문배송</li>
        <li>고객센터</li>       
        <li>매장안내</li>
        <li>global</li>
    </nav>
    <logo><img class="logo" src="img/h1_logo.png" alt=""></logo>
    <form method="post" action="search">
        <div class="search-box">
            <input type="text" class="search" name="search" placeholder="웨이크메이크 신상 파운데이션 쇼케이스행사">
            <input type="submit" class="enter" value="" />
        </div>
    </form>
    <div class="mypage-container">
        <div class="profile-container">
            <span class="profile-name"></span>
            <span class="type1"></span>
            <span class="type2"></span>
            <span class="type3"></span>
            <a href="/update">
                <div class="update-button">프로필 수정</div>
            </a>
        </div>
    </div>
    
</body>
<script>
    axios.get("http://localhost:3000/customer").then((res) => {
        const account = document.querySelector('.username');
        account.innerHTML = `올리브 ${res.data}`;
    });


    axios.get("/change", { params: { id: 'your_id' } }).then((res) => {
    const profilename = document.querySelector('.profile-name');
    const type1 = document.querySelector('.type1');
    const type2 = document.querySelector('.type2');
    const type3 = document.querySelector('.type3');
    profilename.innerHTML = res.data.profilename;
    type1.innerHTML = res.data.type1;
    type2.innerHTML = res.data.type2;
    type3.innerHTML = res.data.type3;
  });
</script>
</html>